﻿@using BookingSolution.ViewModels.Common;
@model PagedResult<BookingSolution.ViewModels.Catalog.Rooms.RoomVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              RoomId
            </th>
            <th>
                RoomName
            </th>
            <th>
               RoomType
            </th>
            <th>
               Price
            </th>
            <th>
                RoomStatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomStatus)
            </td>
            <td>
                    @Html.ActionLink("Update", "Update", new { id = item.RoomId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RoomId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RoomId })
            </td>
        </tr>
}
    </tbody>
</table>
