@model BookingSolution.ViewModels.System.Services.PartyUserView

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="container-fluid px-4">
    <h1>@Model.PartyName</h1>
    <p>**Description:** @Model.Description</p>
    <p>**Contact:** @Model.PhoneContact</p>
    <p>**Place:** @Model.Place</p>
    <p>**Rate:** @Model.Rate</p>
    <p>**Date:** @Model.DayStart?.ToString("yyyy-MM-dd") - @Model.DayEnd?.ToString("yyyy-MM-dd")</p>
    
    <img src="@Model.ThumbnailUrl" alt="Party Image" class="img-fluid" style=" height: 100px;" />
  
    <h2>Rooms</h2>
    <ul>
        @if (Model.roomUserViews != null)
        {
            foreach (var room in Model.roomUserViews)
            {
                <li>
                    <h3>@room.RoomName</h3>
                    <img src="@room.RoomUrl" alt="Room Image" class="img-fluid" style=" height: 100px;" />
                    <p>**Room Type:** @room.RoomType</p>
                    <p>**Price:** @room.Price</p>

                    @if (room.productUserViews != null)
                    {
                        <h4>Products</h4>
                        <ul>
                            @foreach (var product in room.productUserViews)
                            {
                                <li>
                                    @product.ProductName - @product.Price
                                </li>
                                <img src="@product.ProductUrl" alt="Product Image" class="img-fluid" style=" height: 100px;" />

                            }
                        </ul>
                    }
                </li>
            }
        }
    </ul>
</div>