@using BookingSolution.ViewModels.Catalog.Parties
@model IEnumerable<BookingSolution.ViewModels.System.Services.PartyHistory>
@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout _BoostrapOnly.cshtml";
    
}
@foreach(var item in Model)
{
    <div class="row justify-content-center mb-3">
        <div class="col-md-12">
            <div class="card shadow-0 border rounded-3">
                <div class="card-body">
                    <div class="row g-0">
                        <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                            <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                                <img src="@item.ThumbnailUrl" class="w-100" />
                                <a href="#!">
                                    <div class="hover-overlay">
                                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-5 col-sm-7">
                            <h4>@item.PartyName</h4>
                            <div class="d-flex flex-row">
                            <div class="text-warning mb-1 me-2">
                                    @for (int i = 0; i <= 4; i++)
                            {
                                        var temp = item.Rate - i;
                                        if (temp > 0 && temp < 1)
                                        {
                                            <i class="fas fa-star-half-alt"></i>
                                        }
                                        if (temp > 0 && temp >= 1)
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                        if (temp <= 0)
                                        {
                                            <i class="far fa-star"></i>
                                        }
                            }

                                    <span class="ms-1 style="font-size:20px">
                                        @item.Rate
                                    </span>
                                </div>
                               
                            </div>
                            <h5 class="text mb-4 mb-md-0">
                               Place : @item.Place
                            </h5>
                            <p class="text mb-4 mb-md-0">
                               Phone Contact: @item.PhoneContact
                            </p>
                            <p>Room : @item.RoomId </p>
                            <p class="text mb-4 mb-md-0">
                              @item.Description
                            </p>
                        </div>
                        <div class="col-xl-3 col-md-3 col-sm-5">
                            <div class="d-flex flex-cloumn align-items-center mb-1">
                                <h5 class="mb-1 me-1">Day Start  @item.DayStart.ToString().Substring(0,10) </h5>
                                <h5 class="mb-1 me-1">Day End  @item.DayEnd.ToString().Substring(0, 10) </h5>
                            </div>
                            @switch (@item.PartyStatus)
                            {
                                case "Active" :
                                    <h5 class="text-success">Active</h5>
                                break;
                                case "Waiting":
                                    <h5 class="text-truncate">Waiting</h5>
                                break;
                                case "Overdue":
                                    <h5 class="text-danger">Overdue</h5>
                                break;
                            }
                            <div class="mt-4">
                                <a class="btn btn-primary shadow-0" type="button" href="@Url.ActionLink("DetailsRoomBooked","Parent",new RoomNParty{ PartyId = item.PartyId,roomId = item.RoomId})">View Details 
                                    </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
}
