@using BookingSolution.ViewModels.Common;
@model PagedResult<BookingSolution.ViewModels.Catalog.Rooms.RoomVm>
@{
    ViewData["Title"] = "IndexRoom";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}
@if (TempData["result"] != null)
{
    <div id="successMessage" class="alert alert-success" role="alert">
        @TempData["result"]
    </div>
}

<h1>IndexRoom</h1>

<p>
    <a asp-action="CreateRoom">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                RoomId
            </th>
            <th>
                RoomName
            </th>
            <th>
                RoomUrl
            </th>
            <th>
               RoomType
            </th>
            <th>
               Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateRoom", new { id=item.RoomId }) |
                    @Html.ActionLink("Delete", "DeleteRoom", new { id = item.RoomId })
            </td>
        </tr>
}
    </tbody>
</table>
